<h2>Tasks</h2>

<ng-container #highlightContainer></ng-container>

<ul>
  <li *ngFor="let task of tasks$ | async">
    {{ task.id }} – {{ task.title }}

    <button (click)="highlight(task.title)">
      Mettre en avant
    </button>

    <button (click)="removeTask(task.id)">X</button>
  </li>
</ul>

<div class="input-group mb-3">
  <input
    #taskInput
    type="text"
    placeholder="Nouvelle tâche"
    (keyup.enter)="addTask(taskInput.value); taskInput.value=''"
  />

  <button
    (click)="addTask(taskInput.value); taskInput.value=''">
    Ajouter
  </button>
</div>

<hr>

<h2>Compteur de temps</h2>
<p>Temps écoulé : {{ count / 2 }} secondes</p>
<button (click)="stopCounting()" class="btn btn-warning">Arrêter le compteur</button>
